.hidden {
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease; /* Transition de l'opacité et du déplacement */
}

.visible {
  opacity: 1;
}

.not-visible {
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease; /* Transition de l'opacité et du déplacement */
}